In [3]:
# 1. Import necessary libraries
import pandas as pd
from keplergl import KeplerGl

In [12]:
df = pd.read_csv("citibike_weather_2022.csv")
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,WDF2,WDF5,WSF2,WSF5,WT01,WT02,WT04,WT06,WT08,WT09
0,7830EBE775F2EE25,classic_bike,2021-06-21 07:38:42,2021-06-21 10:49:25,Dixon Mills,JC076,NaN,NaN,40.721630,-74.049968,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,629A3BFD50BF8392,docked_bike,2021-06-12 10:25:01,2021-06-12 10:35:11,Dixon Mills,JC076,Journal Square,JC103,40.721630,-74.049967,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CF02EC434989A99D,docked_bike,2021-06-07 14:52:05,2021-06-07 14:58:25,11 St & Washington St,HB502,Hoboken Terminal - Hudson St & Hudson Pl,HB101,40.749984,-74.027150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E1BB8FED29AA5BA1,docked_bike,2021-06-07 08:29:19,2021-06-07 08:34:17,8 St & Washington St,HB603,Hoboken Terminal - Hudson St & Hudson Pl,HB101,40.745983,-74.028199,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,787C59EE76D96BCA,docked_bike,2021-06-18 14:16:27,2021-06-18 14:26:26,11 St & Washington St,HB502,Columbus Park - Clinton St & 9 St,HB501,40.749984,-74.027150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# 3. Create a 'trip_count' column and aggregate by start and end station
df['trip_count'] = 1

trip_data = df.groupby(
    ['start_station_name', 'end_station_name', 'start_lat', 'start_lng', 'end_lat', 'end_lng'],
    as_index=False
).agg({'trip_count': 'sum'})

trip_data.head()

,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,trip_count
0,11 St & Washington St,10 Ave & W 14 St,40.749985,-74.027150,40.741982,-74.008316,1
1,11 St & Washington St,11 St & Washington St,40.747251,-74.027879,40.749985,-74.027150,1
2,11 St & Washington St,11 St & Washington St,40.749817,-74.027383,40.749985,-74.027150,1
3,11 St & Washington St,11 St & Washington St,40.749857,-74.027530,40.749985,-74.027150,1
4,11 St & Washington St,11 St & Washington St,40.749882,-74.027380,40.749985,-74.027150,1

In [18]:
from keplergl import KeplerGl

map_1 = KeplerGl(height=500)
map_1.add_data(data=trip_data, name="Trips NYC")
map_1

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'Trips NYC': {'index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2‚Ä¶

## üîç Map Customization Details

I used the `KeplerGl` map instance to visualize trip connections between start and end stations in New York City.

### What I customized:
- **Point color**: Start and end station points are colored using a dark purple
-  theme to show intensity.
- **Arcs**: Enabled to show the direction and volume of trips between locations.
- **Filter**: I added a filter on `trip_count` to visualize only the most common trips (e.g., those above 1000).

This helps us visually identify the busiest areas and travel routes in the city‚Äîespecially Midtown and downtown Manhattan, which seem highly connected.

In [21]:
# 5. Add aggregated data to map
map_1.add_data(data=trip_data, name="trip_connections")

In [22]:
# 6. Export configuration and save map to HTML
config = map_1.config  # current map settings
map_1.save_to_html(file_name="2.5_Advanced_Geospatial_Plotting.html")

Map saved to 2.5_Advanced_Geospatial_Plotting.html!

## üí° Observations & Insights

After applying filters and reviewing the arcs on the map:
- The most common bike trips occur between nearby stations in Manhattan.
- Certain hotspots like Penn Station, Central Park, and Wall Street dominate the usage.
- The arc widths and filters clearly illustrate commuter behavior across dense business zones.

The map clearly helps us understand user traffic flows and peak usage areas within NYC's CitiBike system.